body {
  background-color: tomato;
}

h1 {
  color: white;
  text-align: center;
}


#playlist {
  float: left;
  width: 30%;
  background: green;
  height: 100px;
  margin: 5px;
}
.mijn_button {
background-color: darkgreen  
border: solid white 1px;  
color: white;  
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 95%;
}

#fotos {
  float: left;
  width: 65%;
  height: 300px;
  background: darkgreen;
  margin: 5px;
}

#eerste_foto, #tweede_foto, #derde_foto, #vierde_foto {
  display: none
}


img {
  width: 300px;
  height: 200px;
}
